<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" data-ng-app="ngDublinCommuter"> <!--<![endif]-->

	<!--
		Don't waste your time trying to decypher minified javascript.
		Sources are here: https://github.com/amorroxic/DublinCommuter
	-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Luas schedules, traffic information and weather forecasts for Dublin">
        <meta name="author" content="Adrian Mihai">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        <title>Dublin Commuter</title>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">
        <link id="page_favicon" href="/favicon.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="css/dc.css">

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <script src="js/vendor/custom.modernizr.min.js"></script>
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

    </head>

    <body data-ng-controller="DublinCommuterController">

    <div class="pagecontainer">
		<header>
            <div class="row">
                <div class="twelve columns">
                    <h1 class="heading">Dublin Commuter <div class="icon" ng-show="dublinCommuter.luasManager.hasLuas()" data-ng-cloak data-ng-click="chooseAnotherStation()"><span class="icon-arrow-left"></span></div></h1>
                </div>
            </div>
		</header>

        <section ng-show="dublinCommuter.luasManager.hasLuas()" data-ng-cloak>
            <div class="row">
                <div class="large-6 small-12 columns bottom_40 medium-12">

                    <div class="row" data-ng-cloak>
                        <div class="large-4 small-4 columns">
                            <div class="weather" ng-show="dublinCommuter.weatherManager.hasForecast()">
                                <span class="{{dublinCommuter.weatherManager.forecast.current.icon}}"></span>
                                <span class="temperature">{{dublinCommuter.weatherManager.forecast.current.temp}}&deg;</span>

                                <div class="row shadow top_20">
                                    <div class="large-12 small-12 columns top_5" data-ng-repeat="forecast in dublinCommuter.weatherManager.forecast.upcoming">
                                            <span class="{{forecast.icon}}"><span class="temperature">{{forecast.temp}}&deg; in {{forecast.hours | timeformat:'hour'}}</span></span>

                                    </div>
                                </div>
                            </div>
                            <div class="weather" ng-hide="dublinCommuter.weatherManager.hasForecast()">
                                <span class="icon-none"></span>
                                <span class="temperature"></span>
                            </div>
                        </div>
                        <div class="large-4 small-4 columns">
                            <div class="current-time">{{timerInstance.currentDate | date: 'HH:mm'}}</div>
                        </div>
                        <div class="large-4 small-4 columns">
                            <div class="current-time">
                                 <span>{{timerInstance.currentDate | date: 'dd'}} {{timerInstance.currentDate | date: 'MMM'}}</span>
                             </div>
                        </div>
                    </div>


                </div>

                <div class="large-6 small-12 columns medium-12" data-ng-cloak ng-show="dublinCommuter.luasManager.hasLuas()">
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            <div class="schedule bottom_15" data-ng-hide='dublinCommuter.luasManager.hasForecast()'><span class="icon-search"></span> <span class="details">Loading data</span></div>
                            <div class="schedule bottom_15" data-ng-show='dublinCommuter.luasManager.hasForecast()' data-ng-repeat='inbound in dublinCommuter.luasManager.forecastData.inbound'><span class="icon-clock"></span><span class="details">{{inbound.time | timeformat:'minute' }} {{inbound.location}}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 small-12 columns bottom_15">
                            <div class="current"><div>{{dublinCommuter.luasManager.currentStation.name}}</div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 small-12 columns">
                            <div class="schedule" data-ng-hide='dublinCommuter.luasManager.hasForecast()'><span class="icon-search"></span> <span class="details">Loading data</span></div>
                            <div class="schedule bottom_15" data-ng-show='dublinCommuter.luasManager.hasForecast()' data-ng-repeat='inbound in dublinCommuter.luasManager.forecastData.outbound'><span class="icon-clock"></span><span class="details">{{inbound.time | timeformat:'minute' }} {{inbound.location}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 small-12 columns">
                    <div class="schedule"><span class="dimmed">Auto refresh in {{60-timerInstance.currentDate.getSeconds()}} seconds.<br/>dublin.io - august 2013</span></div>
                </div>
            </div>

        </section>


        <section ng-hide="dublinCommuter.luasManager.hasLuas()" data-ng-cloak>
            <div class="row">
                <div class="twelve columns">
                    <input type="text" placeholder='search station..' ng-model='search'>
                    <ul class="sostyled">
                        <li data-ng-repeat="station in dublinCommuter.luasManager.buildSuggestions() | filter:search" ng-click="stationClicked(station)"><span class="icon-chevron-sign-right"></span><span class="option">{{station.name}}</span></li>
                    </ul>
                </div>
            </div>
        </section>


    </div>


        <!-- Load local Zepto.js or (as a fallback) jQuery from Google CDN or (as a fallback) local jQuery -->
        <script>
            document.write('<script src="' + ('__proto__' in {} ?
                'js/vendor/zepto' :
                'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery') +
                '.min.js"><\/script>')
        </script>
        <script>
            window.Zepto || window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>');
        </script>
		<!--script src="js/vendor/meny-ck.js"></script-->
        <script src="js/vendor/angular.min.js"></script>
		<script src="js/start.js"></script>

    </body>
</html>

