body
    font-family: 'Dosis', sans-serif
    font-size: 120%
    font-weight: 700

h1
    font-family: 'Dosis', sans-serif
    font-size: emCalc(32px)
    text-transform: uppercase

nav
    font-size: emCalc(18px)


.temperature
    font-size: emCalc(32px)
    text-transform: uppercase
    color: #eb27a8
    margin-left: emCalc(5px)

.icon-forecast
    font-size: emCalc(32px)

.schedule
    text-transform: uppercase
    font-size: emCalc(13px)

.current-time
    color: #eb27a8
    margin: emCalc(10px) 0
    font-size: emCalc(32px)

