@font-face {
    font-family: "Dosis"
    src: url("../fonts/dosis/dosis.eot")
    src: url("../fonts/dosis/dosis.woff") format("woff"), url("../fonts/dosis/dosis.ttf") format("truetype"), url("../fonts/dosis/dosis.svg") format("svg")
    font-weight: 700
    font-style: normal

body
    font-family: 'Dosis', sans-serif
    font-size: 28px
    font-weight: 700
    margin-left: 0

@media screen and (max-width: 980px) and (orientation:portrait), screen and (max-device-width: 980px) and (orientation:portrait)
    body
        margin-left: emCalc(15px)
        font-size: 46px

// 800 x 1280
@media screen and (max-width: 800px) and (orientation:portrait), screen and (max-device-width: 800px) and (orientation:portrait)
    body
        margin-left: emCalc(10px)
        font-size: 44px
@media screen and (max-width: 1280px) and (orientation:landscape), screen and (max-device-width: 1280px) and (orientation:landscape)
    body
        margin-left: emCalc(20px)
        font-size: 28px


// 768 x 1024
@media screen and (max-width: 768px) and (orientation:portrait), screen and (max-device-width: 768px) and (orientation:portrait)
    body
        font-size: 36px
        margin-left: emCalc(22px)
@media screen and (max-width: 1024px) and (orientation:landscape), screen and (max-device-width: 1024px) and (orientation:landscape)
    body
        font-size: 28px
        margin-left: emCalc(22px)


@media screen and (max-width: 600px) and (orientation:portrait), screen and (max-device-width: 600px) and (orientation:portrait)
    body
        font-size: 36px
        margin-left: emCalc(8px)

// 360 x 640
@media screen and (max-width: 360px) and (orientation:portrait), screen and (max-device-width: 360px) and (orientation:portrait)
    body
        font-size: 22px
        margin-left: emCalc(4px)
@media screen and (max-width: 640px) and (orientation:landscape), screen and (max-device-width: 640px) and (orientation:landscape)
    body
        font-size: 30px
        margin-left: emCalc(30px)


// 320 x 480
@media screen and (max-width: 320px) and (orientation:portrait), screen and (max-device-width: 320px) and (orientation:portrait)
    body
        font-size: 18px
        margin-left: emCalc(10px)

@media screen and (max-width: 480px) and (orientation:landscape), screen and (max-device-width: 480px) and (orientation:landscape)
    body
        font-size: 26px
        margin-left: emCalc(20px)


h1
    font-family: 'Dosis', sans-serif
    font-size: emCalc(32px)
    text-transform: uppercase

nav
    font-size: emCalc(18px)
    span
        font-size: emCalc(14px)
        color: #444


.weather
    font-size: emCalc(24px)
    text-transform: uppercase
    color: #eb27a8
    float: left
    margin-top: emCalc(1px)

.now
    clear: both
    width: 100%

.currentdate
    text-transform: uppercase
    font-size: emCalc(12px)
    text-align: center
    width: emCalc(100px)
    float: left
    border-right: emCalc(3px) solid #000
    border-left: emCalc(3px) solid #000
    margin: 0 emCalc(20px)
    div
        &.day
            width: 100%
            font-size: emCalc(24px)
        &.month
            display: block
            width: 100%
            font-size: emCalc(16px)

.icon-forecast
    font-size: emCalc(14px)
    color: #000
    margin-top: -emCalc(20px)

.temperature
    margin-left: emCalc(3px)

.schedule
    text-transform: uppercase
    font-size: emCalc(13px)

.current-time
    float: left
    color: #eb27a8
    font-size: emCalc(24px)
    margin-top: emCalc(2px)

.now
    margin: emCalc(10px) 0

.red
    color: #ff0000

.current
    text-transform: uppercase
    color: #eb27a8
    font-size: emCalc(24px)

.row h1.heading
    font-size: emCalc(24px)
    margin: emCalc(20px) 0 emCalc(20px) 0

.dimmed
    color: #7ba1ba

ul.sostyled
    list-style-type: none
    padding: 0
    margin: 0

ul.sostyled
    li
        cursor: pointer
        border-bottom: emCalc(2px) solid #a8d2e9
        margin: 0
        text-transform: uppercase
        font-size: emCalc(14px)
        padding: emCalc(5px) 0 0 emCalc(10px)
        height: emCalc(40px)
        +gradient(#97b5c8,#769eb3)
        &:hover
            +gradient(#769eb3,#769eb3)
        span.option
            margin-left: emCalc(5px)

header
    .icon
        cursor: pointer
